<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/style2.css" />

</head>

<body>
    <div class="macbook-pro-16-2">
        <div class="tenor-gif-embed" data-postid="21500939" data-share-method="host" data-aspect-ratio="1.36752" data-width="100%"><a href="https://tenor.com/view/aesthetic-gif-21500939">Aesthetic GIF</a>from <a href="https://tenor.com/search/aesthetic-gifs">Aesthetic GIFs</a></div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        <div class="new-game">Start Game</div>
        <div class="the-rules1" id="theRulesText">
            <p class="the-rules2">The Rules</p>
        </div>
    </div>

    <script>
        var theRulesText = document.getElementById("theRulesText");
        if (theRulesText) {
            theRulesText.addEventListener("click", function(e) {
                window.location.href = "/template3.html";
            });
        }
    </script>
</body>

</html>