<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/style3.css" />
    
    
  </head>
  <body>
    <div class="giphy-2-1-parent">
      <div class="tenor-gif-embed" data-postid="20518435" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%"><a href="https://tenor.com/view/lights-out-greta-van-fleet-heat-above-dim-light-weak-light-gif-20518435">Lights Out Greta Van Fleet GIF</a>from <a href="https://tenor.com/search/lights+out-gifs">Lights Out GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

      <div class="a-word-is-container">
        <ul class="a-word-is-given-when-you-start">
          <li class="a-word-is">
            A word is given when you start a new game, the number of spaces is
            the number of letter in the words.
          </li>
        </ul>
        <p class="blank-line">&nbsp;</p>
        <ul class="a-word-is-given-when-you-start">
          <li class="a-word-is">
            Press a letter to see if the word contain it.
          </li>
        </ul>
        <p class="blank-line">&nbsp;</p>
        <ul class="a-word-is-given-when-you-start">
          <li class="a-word-is">
            You have 10 tries to suceed, unless you are dead.
          </li>
        </ul>
        <p class="blank-line">&nbsp;</p>
        <ul class="a-word-is-given-when-you-start">
          <li>
            Coming soon, a official ranking to see whose going to live longer
            than the others.
          </li>
        </ul>
      </div>
      <div class="the-rules2">The Rules</div>
      <div class="return-to-the" id="returnToThe">Return to the game</div>
    </div>

    <script>
      var returnToThe = document.getElementById("returnToThe");
      if (returnToThe) {
        returnToThe.addEventListener("click", function (e) {
          window.location.href = "/template2.html";
        });
      }
      </script>
  </body>
</html>