<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/style1.css" />
   
  </head>
  <body>
    <div class="macbook-pro-16-1">
      <div class="tenor-gif-embed" data-postid="22499289" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/ghost-gif-22499289">Ghost GIF</a>from <a href="https://tenor.com/search/ghost-gifs">Ghost GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>


      <div class="hangman-game">Hangman Game</div>
      <div class="press-here-to" id="pressHereTo">Press here to play</div>
      <img
        class="capture-decran-2023-11-21-a"
        alt=""
        src="./public/capture-decran-20231121-a-1213-1@2x.png"
      />
    </div>

    <script>
      var pressHereTo = document.getElementById("pressHereTo");
      if (pressHereTo) {
        pressHereTo.addEventListener("click", function (e) {
          window.location.href = "/template2.html";
        });
      }
      </script>
  </body>
</html>
