<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <header class="template2html">
      <img class="giphy-1-1-icon" alt="" src="./public/giphy1-1@2x.png" />

      <div class="new-game" id="newGameText">New Game</div>
      <div class="rules-text">
        <div class="the-rules" id="theRulesText">
          <p class="the-rules1">The Rules</p>
        </div>
      </div>
    </header>

    <script>
      var newGameText = document.getElementById("newGameText");
      if (newGameText) {
        newGameText.addEventListener("click", function (e) {
          window.location.href = "/template4.html";
        });
      }
      
      var theRulesText = document.getElementById("theRulesText");
      if (theRulesText) {
        theRulesText.addEventListener("click", function (e) {
          window.location.href = "/template3.html";
        });
      }
      </script>
  </body>
</html>